.txtDescripcion {
    overflow: hidden;
    white-space: nowrap;
}

.img-box img {
    border-radius: 50%;
}

.iconCart {
    color: white;
}

.iconCart:hover {
    color: #222831;
}

.newsletter-subscribe {
    color: #313437;
    background-color: #ffffff;
    margin: 30px;
}

.newsletter-subscribe .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px
}

.newsletter-subscribe .intro p {
    margin-bottom: 35px
}

.newsletter-subscribe form {
    justify-content: center
}

.newsletter {
    color: #0062cc !important
}

.btnForm {
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}